.footer {
    border-top: 1px solid $gray;
    padding-top: 77px;
    padding-bottom: 50px;
    @media (max-width:1440px) {
        padding-bottom: 25px;
    }  
    .logo {
        width: 179px;
        height: 48px;
    }
}
.box-footer {
    display: flex;
    justify-content: space-between;
    &-item {
        display: flex;
        justify-content: space-between;
        flex: 0 0 66.4%;
        @media (max-width:1200px) {
            flex: 0 0 74%;
        }
    }
}
.box-footer-list {
    font-size: 1.12rem;
    list-style-type: none;
    &__link {
        text-decoration: none;
        color: $gray;
        transition: 0.2s ease;
        &:hover {
            color: $orange;
        }
    }
    &__item {
        margin-bottom: 1.62rem;
    }
    &__tel {
        font-size: 1.68rem;
        margin-bottom: 2.06rem;
    }
}

.box-footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-top: 30px;
    &__link {
        display: block;
        width: 48px;
        height: 48px;
        border: 2px solid $gray;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        opacity: 0.8;
        transition: 0.2s ease;
        &:hover {
            opacity: 1;
        }
    }
    &__vk {
        background-size: 30px 20px;
        background-image: url(../../../img/vk.svg)
    }
    &__inst {
        background-size: 18px 18px;
        background-image: url(../../../img/instagram.svg)
    }
    &__fb {
        background-size: 20px 20px;
        background-image: url(../../../img/facebook.svg)
    }

}
.box-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    &__copy {
        opacity: 0.6;
    }
    &__text {
        color: #a6a8a4;
        position: relative;
    }
    &__link {
        text-decoration: none;
        color: $gray;
        opacity: 0.6;
        transition: 0.2s ease;
        &:hover {
            opacity: 1;
        }
    }
}